---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Solid";
import Header from "../components/Header";
---

<Layout title="Welcome to Astro.">
  <main class="dark:bg-slate-900 bg-slate-50">
	<Header title="Min's Blog" links={[Counter]} />
    <Counter client:load />

	<p class="text-3xl text-slate-800">Work in progress</p>
  </main>
</Layout>
