---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Solid";
---

<Layout title="Welcome to Astro.">
  <main class="dark:bg-slate-900 bg-slate-50 h-screen text-slate-50">
    <div><Counter client:load /></div>

	<p class="text-3xl text-slate-80 text-center">Work in progress</p>
  </main>
</Layout>
